[submodule "libraries/FastLED"]
	path = libraries/FastLED
	url = git://github.com/FastLED/FastLED
[submodule "libraries/Audio"]
	path = libraries/Audio
	url = git://github.com/datomusic/Audio
[submodule "libraries/MIDI"]
	path = libraries/MIDI
	url = git://github.com/FortySevenEffects/arduino_midi_library
